.container {
  display: grid;
  max-width: 900px;
  position: relative;
  margin: 0 auto;
  gap: 10px;
  grid-template-areas:
    "header header"
    "nav    nav"
    "left   right"
    "footer footer";
  grid-template-columns: 30% 70%;
  grid-template-rows: 110px 50px 600px 200px;
}

h1,
h2 {
  font-family: monospace;
  text-align: center;
}

header {
  background-color: dodgerblue;
  grid-area: header;
}

nav {
  background-color: beige;
  grid-area: nav;
}

.left {
  background-color: dodgerblue;
  grid-area: left;
}

.right {
  background-color: beige;
  grid-area: right;
}

footer {
  background-color: dodgerblue;
  grid-area: footer;

}

header, nav, section, footer {
  box-shadow: 2px 2px;
}

#wallpapervideo {
  background-size: cover;
  position: fixed;
}