@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pixeboy";
  src: url(./fonts/Pixeboy-z8XGD.ttf);
}

body {
  margin: 0;
  padding: 0;
}

main {
  margin: 20px;
}

.container {
  display: grid;
  margin: 0 auto;
  max-width: 900px;
  position: relative;
  gap: 10px;
  grid-template-areas:
    "header header"
    "nav    nav"
    "left   right"
    "footer footer";
  grid-template-columns: 30% 70%;
  grid-template-rows: 110px 50px 600px 200px;
}

h1,
h2 {
  font-family: Pixeboy;
  text-align: center;
  letter-spacing: 2px;
}

header {
  background-color: rgba(128, 128, 128, 0.137);
  grid-area: header;
  transition: 0.5s ease-out;
  border-radius: 1%;
}

header:hover {
  background-color: rgba(128, 128, 128, 0.247);
  transform: scale(1.02);
}

nav {
  background-color: rgba(128, 128, 128, 0.137);
  grid-area: nav;
  transition: 0.5s ease-out;
  border-radius: 1%;
}

nav:hover {
  background-color: rgba(128, 128, 128, 0.247);
  transform: scale(1.02);
}

.left {
  background-color: rgba(128, 128, 128, 0.137);
  grid-area: left;
  transition: 0.5s ease-out;
  border-radius: 1%;
}

.left:hover {
  background-color: rgba(128, 128, 128, 0.247);
  transform: scale(1.02);
}

.right {
  background-color: rgba(128, 128, 128, 0.137);
  grid-area: right;
  transition: 0.5s ease-out;
  border-radius: 1%;
}

.right:hover {
  background-color: rgba(128, 128, 128, 0.247);
  transform: scale(1.02);
}

header,
nav,
section,
footer {
}

#wallpapervideo {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}

#watermark_me {
  box-shadow: 3px 3px 5px black;
  border-radius: 50%;
  height: 125px;
  width: 125px;
  margin: 10px 10px;
  transition: 0.5s ease-out;
}

#watermark_me:hover {
  border-radius: 30%;
  transform: scale(1.1);
}

#github {
  box-shadow: 3px 3px 5px black;
  width: 100%;
  border-radius: 1%;
  transition: 0.5s ease-out;
}

#github:hover {
  transform: scale(1.05);
  box-shadow: 3px 3px 5px black;
  width: 100%;
  border-radius: 1%;
  cursor: pointer;
}

#youtubevideo1 {
  width: 100%;
}

/* Footer & Technologies ==============================*/
footer {
  background-color: rgba(128, 128, 128, 0.137);
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  color: #c9c9c9;
  transition: 0.5s ease-out;
  border-radius: 1%;
}

footer:hover {
  background-color: rgba(128, 128, 128, 0.247);
  transform: scale(1.02);
}

footer h2 {
  margin-bottom: 0;
  font-size: 200%;
}

.tech {
  text-align: center;
}

.logo-1,
.logo-2,
.logo-3 {
  font-size: 350%;
}
/* Footer */
.social-media {
  text-align: center;
}

a.linkedin {
  color: #0077b5;
  cursor: pointer;
}

.fa-linkedin {
  font-size: 350%;
}

.linkedin:hover {
  transition: color ease 0.3s;
  color: ivory;
  text-decoration: none;
}

.linkedin:active {
  color: #0077b5;
}
/* ========================================= */

/* Phones */
@media only screen and (max-width: 480px) {
  footer {
    gap: 10px;
  }
}
/* Even smaller Devices */
@media only screen and (max-width: 340px) {
  .logo-1,
  .logo-2,
  .logo-3 {
  }

  .tech h2,
  .social-media h2 {
    display: none;
  }
}
