@font-face {
  font-family: "Pixeboy";
  src: url(./fonts/Pixeboy-z8XGD.ttf);
}

body {

}

main {

}

.container {
  display: grid;
  margin: 0 auto;
  max-width: 900px;
  position: relative;
  gap: 10px;
  grid-template-areas:
    "header header"
    "nav    nav"
    "left   right"
    "footer footer";
  grid-template-columns: 30% 70%;
  grid-template-rows: 110px 50px 600px 200px;

}

h1,
h2 {
  font-family: Pixeboy;
  text-align: center;
}

header {
  background-color: darkgrey;
  grid-area: header;
}

nav {
  background-color: beige;
  grid-area: nav;
}

.left {
  background-color: darkgray;
  grid-area: left;
}

.right {
  background-color: beige;
  grid-area: right;
}


header, nav, section, footer {
  
  
}

#wallpapervideo {
  background-size: cover;
  position: fixed;
}

/* Footer & Technologies ==============================*/
footer {
  background-color: rgba(128, 128, 128, 0.137);
  grid-area: footer;
  text-align: center;
}

footer > div > h2 {
  vertical-align: auto;
  margin-bottom: 0;
  font-size: 200%;
}
.tech {
  text-align: center;
}

#logo_1 {
  font-size: 400%;
}

#logo_2 {
  font-size: 400%;
}

#logo_3 {
  font-size: 400%;
}
/* Footer */
.linkedin {
  padding: 10px;
}

a#linkedin {
  color: ivory;
  cursor: pointer;
  font-size: 150%;
}

#linkedin:hover {
  transition: 0.5s;
  color: rgb(4, 0, 255);
  text-decoration: none;
}

#linkedin:active {
  color: ivory;
  
}
/* ========================================= */