body {
  position: relative;
  background-image: url("./content/tavern.gif");
  background-repeat: repeat;
  background-size: 80%;
  background-position-y: -4rem;
}

main {
  z-index: 80;
  background-color: rgba(59, 52, 52, 0.95);
  width: 50%;
  margin: 0 auto;
  margin-top: 5rem;
}

h1,
h2,
h3,
h4 {
  text-shadow: 3px 3px 5px black;
  color: white;
  font-family: "Cinzel", serif;
  text-align: center;
}

h1{
  padding-top: 1rem;
}

footer {
  color: white;
  background-color: rgb(129, 55, 12);
  width: 50%;
  margin: auto;
  text-align: center;
  padding: 0.3rem 0;
  opacity: 0.8;
}

p {
  line-height: 2rem;
  text-align: center;
}

.roadmap {
  color: white;
}

.banner {
  color: white;
  text-align: center;
}

.tech {
  text-align: center;
  padding: 1rem;
}

#backgroundgif {
  position: fixed;
  z-index: 1;
  width: 50%;
}

#mindblown {
  position: fixed;
  width: 20%;
  opacity: 70%;
}

#tomcardy {
  position: fixed;
  height: 3%;
  padding-top: 6cm;
}
/* Avatar */
#watermark_me {
  box-shadow: 3px 3px 5px black;
  border-radius: 50%;
  height: 125px;
  width: 125px;
}
/* Technologies */
#logo_1 {
  font-size: 400%;
}

#logo_2 {
  font-size: 400%;
}

#logo_3 {
  font-size: 400%;
}
/* Footer */
#linkedin {
  color: ivory;
  cursor:pointer;
}

#linkedin:hover {
  color: orangered;
  background-color: rgba(238, 161, 110, 0.2);
  padding: 5px;
  border-radius: 50%;
}

#linkedin:visited{
  color:rgb(250, 115, 243);
}
